
<% destination = @post.persisted? ? post_url(@post) : posts_url %>

<form  action="<%= destination %>" method="POST">
  <%= auth_token %>
  <% if @post.persisted?  %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <label>Title
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>
  <br>
  <br>
  <label>URL
    <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>
  <br>
  <br>
  Content
  <br>
  <textarea name="post[content]" rows="8" cols="80">
<%=@post.content %>
  </textarea>
  <br>
  <ul>
    <% Sub.all.each do |sub| %>
    <li>

      <label><%= sub.title %>
        <input type="checkbox"
               name="post[sub_ids][]"
               value="<%= sub.id %>"
               <%= "checked" if @post.sub_ids.include?(sub.id) %> >
      </label>
    </li>

    <% end %>
  </ul>
  <input type="submit" value="Submit">
</form>
